.Top {
    position: fixed;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: bisque;
}

.topBar {
    width: 100%;
    background-color:#565681;
    height: 100px;
    position: relative;
    overflow: hidden;
}
.img {
    height: 150px;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    overflow: hidden;
    position: absolute;
}